$z-base-color = #6EB8F1

$z-listview-row-over-background = #D7E7FF
$z-listview-row-selected-background = lighten($z-listview-row-over-background, 25%)
$z-listview-row-selected-over-background = darken($z-listview-row-over-background, 5%)
$z-listview-row-drag-background = rgba(128, 128, 128, 0.56)
$z-listview-row-cursor = default
$z-listview-row-border-width = 1px
$z-listview-row-border-style = dotted
$z-listview-row-border-color = #A8A8A8
$z-listview-row-padding = 5px
$z-listview-title-font-weight = bold
$z-listview-title-border-width = 1px
$z-listview-title-border-style = solid
$z-listview-title-border-color = #A8A8A8
$z-listview-title-background = linear-gradient(to bottom, #f7f7f7 0%,#efefef 13%,#e6e6e6 100%)
$z-listview-title-padding = 5px
$z-listview-sort-icon-width = 5px
$z-listview-sort-icon-height = 8px
$z-listview-sort-icon-color = $z-base-color
